.center-div-small-text-depot{
	font-size: 18px;
	line-height: 1.6;
}
.full-div{
	height: 480px
}

.table-container{
	cursor: pointer;
}

#dd-content{
	width: calc(100% - 140px);
    margin-left: 70px;
}
.dd-hr{
	width: 100%;
    background-color: #f2f2f2;
    height: 2px;
}
.dd-title{
	font-size: 26px;
	display: inline-block;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}
.dd-arrow{
	margin-left: 20px;
    width: 16px;
    display: inline-block;
    position: relative;
    top: -5px;
}

#dd-time-label{
	margin-top: 65px;
	text-transform: uppercase;
	font-size: 26px;
	color: #094c6b;
	margin-bottom: 20px;
}
#last-hr{
	margin-bottom: 153px;
}

.dd-table{
	width: 100%;
	height: 0px;
	overflow-y: hidden;
	overflow-x: visible;
	margin-bottom: 0px;
}


table, th, td{
	border: 1px solid black;
}