html.imgBg { 
  background: url(../img/intro-background.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
html.noBg { 
  background: rgb(255,255,255);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
a{
  color: #1696d2;
  text-decoration: none;
}

#areaSvg{
  position: fixed;
  z-index: 2;
}
.area.x.axis line, .area.x.axis path{
  display: none;
}
#titleText i{
  font-style: normal;
  font-size: 79px;
  bottom: 5px;
  position: relative;
}
#subtitleText{
  font-size: 24px;
  font-style: italic;
  text-transform: none;
  padding-top: 20px;
}
#scrollArrow{
  position: fixed;
  bottom: 130px;
  left: calc(50% - 50px);
  width: 50px;
  animation: MoveUpDown 2s linear infinite;
}
@keyframes MoveUpDown {
  0% {
    bottom: 130px;
  }
  50% {
    bottom: 120px;
  }
  100% {
    bottom: 130;
  }
}
#areaChartText1, #areaChartText2-1, #areaChartText2-2{
  opacity: 1;
	/*z-index:-1;*/
}
#areaChartText1{
  padding-bottom: 30px;
}
#areaChartText2-2{
  font-weight: bold;
}
#areaChartText{
    position: absolute;
    margin-top: 200%;
    width: 530px;
    top: 100px;
    left: 40px;
    font-size: 25px;
    line-height: 34px;
    z-index: 1;
}
#areaChartText a{
  color: #1696d2;
  text-decoration: none;
}



#bodyText{
  position: fixed;
  left: 810px;
  top: calc(50% - 20px);
  width: 350px;
}
#bodyText p{
  font-size: 16px !important;
  line-height: 1.35 !important;
  margin-bottom: 20px !important;
  margin-top: 20px !important;
}
#bodyNew, #bodyNew{
  opacity: 0;
	z-index:-1;
  position: absolute;
  top: 0px;
}

.textAppear{
  /*opacity: 0;*/
	/*z-index:-1;*/
}



#legend{
  position: fixed;
  top: calc(50% - 169px);
  left: 26px;
  font-size: 13px;
}
.legendContainer, .legendContainer div, .legendContainer span{
  display: inline-block;
  float: left;
}
.legendContainer span{
  width: 10px;
  height: 10px;
  margin-top: 4px;
  margin-right: 6px;
}
#legendOne span{
  background-color: #000000;
}
#legendTen span{
  margin-left: 20px;
  background-color: #73bfe2;
}
.animationComponents{
  opacity: 0;
	z-index:-1;
}
.row{
  z-index: 99;
  position: relative;
}
.full-wrapper{
  position: absolute;
  bottom: -65px;
}
.conclusion-div{
  margin-top: 0;
}

.step p{
  font-size: 20px !important;
  line-height: 28px !important;
  color:  #696969 !important;
}
.step p strong{
  color:  #000 !important;
}
.step {
  margin-bottom: 400px;
}
#firstGap{
  margin-bottom: 3000px;
  opacity: 0 !important;
}
#secondGap{
  margin-bottom: 3000px;
  opacity: 0 !important;
}

#sections {
  width: 350px !important;
}


#breadCrumb{
  position: fixed;
  left: 810px;
  z-index: 99;
}
.crumb{
  fill: #d2d2d2;
  stroke: #9d9d9d;
  stroke-width: 1px;
  cursor: pointer;
}
.crumb.active{
  fill: #1696d2;
  stroke: #000;
}