html.imgBg { 
  background: url(../img/intro-background-01.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
html.noBg { 
  background: rgb(255,255,255);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#topGap{
  height: 10px;
}
#secondGap{
  height: 500px;
}
#areaSvg{
  position: fixed;
}
#titleText i{
  font-style: normal;
  font-size: 79px;
  bottom: 5px;
  position: relative;
}
#bodyText{
  position: fixed;
    left: 810px;
    top: 330px;
    width: 450px;
}
#bodyNew, #bodyNew{
  opacity: 0;
  position: absolute;
  top: 0px;
}
.step{
  visibility: hidden;
}