body{
  font-family: Lato;
  background: none !important;
}
.container {
  /*width: 890px;*/
}

#graphic {
  position: absolute;
  left: 0px;
  padding-top: 60px;
  width: 100%;
}


#sections {
  position: relative;
  display: inline-block;
  width: 450px;
  top: 0px;
  left: 850px;
  z-index: 90;
  padding-bottom: -2000px;
}

.step {
  margin-bottom: 1800px;
  font-family: "Lato";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}
#visTitle{
  position: fixed;
  top: calc(50% - 207px);
  left: 26px;
  font-size: 22px;
  font-weight: bold;
}
#sampleArrow{
  position: fixed;
  top: calc(50% - 266px);
  left: 648px;
  font-size: 28px;
  z-index: 999;
}
#sampleArrow img{
  width: 223px;
}
#visTitle span{
  color: #ec008b;
  margin-left: 5px;
  font-weight: normal;
}
#vis {
  display: inline-block;
  position: fixed;
  top: calc(50% - 217.5px);
  left: 180px;
  z-index: 1;
  margin-left: 0;
  /* height: 600px; */
  /* width: 600px; */
  /* background-color: #ddd; */
}
#lineChart{
    display: inline-block;
    position: fixed;
    z-index: -1;
    margin-left: 0;
    width: 530px;
    background: transparent;
    height: 207px;
     top: calc(50% - 217.5px); 
    border-left: 46px solid transparent;
    left: 370px;
    /*height: 239px;*/
    height: 550px;
}
#vis .title {
  font-size:120px;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}












.updateText{
  opacity: 0;
}





.introLineChart path.line { 
    stroke: #ec008b;
    stroke-width: 2;
    fill: none;
    /*opacity: .2*/
}

.introLineChart path.line.highlight{
  stroke: #fdbf11 !important;
  opacity: 1 !important;
}
.introLineChart .axis path,
.introLineChart .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.introLineChart .axis .tick{
  display: none;
}




.state path.line { 
    stroke: #1696d2;
    stroke-width: 2;
    fill: none;
    /*opacity: .2*/
}


.state .axis path {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.state .x.axis text, .state .x.axis line{
  display: block;
}

.state .y.axis text, .state .y.axis line{
  display: none;
}
.state .y.axis.AK text, .state .y.axis.AK line{
  display: block;
}




.lineLabel{
  position: absolute;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  font-size: 14px;
}
.lineLabel.highlight{
  color: #fdbf11 !important;
  opacity: 1 !important;
  font-weight: bold;
}
#lineLabel_3{
  left: 251px;
  bottom: 141px;
}
#lineLabel_4{
  left: 244px;
  bottom: 383px;
  width: 80px;
}
#lineLabel_5{
  left: 86px;
  width: 105px;
  bottom: 364px;
}
#lineLabel_6{
  left: 260px;
  bottom: 254px;
  width: 100px;
  line-height: 13px;
}
#lineLabel_7{
  width: 80px;
  left: 308px;
  bottom: 313px;
  line-height: 13px;
}
.axisLabel{
  font-size: 14px;
  font-style: italic;
  position: absolute;
}
#axisLabelY{
  left: 29px;
  top: 54px;
  opacity: 0;
}
#axisLabelX{
  top: 532px;
  left: 172px;
  opacity: 0;
}






#map{
  position: fixed;
  top: 20px;
  left: 200px;
  opacity: 0;
}



/** Intro area chart **/
#titleText{
  font-family: Lato;
  font-size: 72px;
  width: 100%;
  top: 40%;
  position: fixed;
  text-transform: uppercase;
  z-index: 2;
  text-align: center;
}
#backgroundBlocker{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  pointer-events: none;
  background-color: rgba(255,255,255,0)
}
.titleElement{
  opacity: 0;
}