#sampleText{
	float: left;
	font-family: Lato;
	width: 40%;
	height: 500px;
	position: relative;
}
#introGraphic{
	float: left;
	width: 500px;
}

.nextButton{
    font: 17px Lato;
    margin-right: 20px;
    padding: 9px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    background: #fff;
    cursor: pointer;
    border: 1px solid #1696d2;
	color: #fff !important;
    background: #1696d2;
    display: block;
    width: 100px;
}
#prisonPop{
	font-size: 18px;
	font-style: italic;
	margin-top: 10px;
}
#prisonPop span{
	color: #1696d2;
}

#lineChart{
	position: absolute;
	bottom: 0px;
}