@charset "UTF-8";
/* CSS Document */

.left-col {
  float: left;
  width: 63.85%;
  max-width: 830px;

}


.right-col {
  width: 36.15%;
  max-width: 470px;
 z-index:100;
 position: fixed;
 top: 20px;
 left: 63.85%

 
  
}

@media  (max-width: 1200px) {
  .left-col {
    width: 66.66%;
  }

  .right-col {
    width: 26.25%;
    left: 70.83%;
  }

}



@media  (max-width: 900px) {
  .left-col {
    width: 100%;
  }


}




@media  (max-width: 600px) {
    
    
}

