@charset "UTF-8";
/* CSS Document */

.left-col {
  float: left;
  width: 825px;
  padding-left: 35px;


}


.right-col {
  width: 365px;
 z-index:100;
 position: fixed;
 top: 20px;
 left: 900px;

 
  
}



@media  (max-width: 900px) {
  .right-col { float: none; width: 100%; padding:0px;}
  .left-col {float: none; width: 100%; padding:0px;}
    .container {margin-bottom: 40px;}
    .responsivequote { margin:40px 0px 30px 0px}
    h2{font-weight:700;}
}



@media  (max-width: 600px) {
    
   h2{font-size:24px;}   
    
}

