html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     border: 0px none;
     margin: 0px;
     padding: 0px;
     vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

body, html {
     color: #000;
     font-family: "Lato",sans-serif;
     font-size: 18px;
     height: 100%;
     line-height: 1.2;
     margin: 0px;
     padding: 0px;
     text-align: left;

}

ol, ul {

}

blockquote, q {
     quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0px;
}

*, *::before, *::after {
     box-sizing: border-box;
}

.clearfix::after {
     clear: both;
     content: "";
     display: table;
}



a{
 color:#1696d2;
 text-decoration: none;
   
}

a:hover{
 color:#000;
 text-decoration: none;    
    
}

p{
    margin-bottom:10px;
    line-height: 1.3;
}

h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.blue-text {
  color: #1796d3;
}

.bold{
    
    font-weight: 700;
}

.emphasis{
    
   font-style: italic;
}

/************subnav***************/
.subnav{
    width: 100%;
    position: fixed;
    top: 51px;
    background-color: #052635;
    z-index: 100;
}


.subnav ul{
    text-align: center;
    margin: 0px;
}
.subnav ul li{
  display: inline-block;
  text-align: center;
  border-right: solid 1px #6d6e70;
  margin:0px;
  width: 12%;
  padding-left: 0px !important;

}

#no-border{
  border-right: none !important;

}

.subnav a{
	
	font-size:18px;
	font-weight: 300;
	display: block;
  color: white;
  padding: 8.5% 0;

}

.subnav li:hover{ 
      color: #fff;
	  background-color: #094c6b;
	 
	 }
.hovered-category {
  color: #fff;
  background-color: #094c6b;
}


/*****************mobile chapter (replacing the subnav for smaller screens) ******************/

#mobilenavcontainer{
    display: none;
}


.show-menu {
	display: none;
    margin-top:50px;
	font-weight: 300;

}


/*Style for left column*/
.section-header {
  margin-top: 5em;
  font-size: 26px;
  margin-bottom: -4em;
  color: #094c6b;
}

.section-header-no-margin{
  margin-top: 5em;
  font-size: 26px;
  color: #094c6b;
}

.left-col-header {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 1.5em;
  margin-top: 5em;

}

li {
  line-height: 1.5em;
  padding: .3em;
}


/*Style for conclusion section*/

.conclusion-div {
  margin-left: 21.5%;
  margin-right: 21.5%;
  float: left;

}

.conclusion-header {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

.conclusion-text {
  font-size: 25px;
  color: #666666;
  font-weight: 300;
  margin-bottom: 2.5em;
}

/*Style for next page div*/

.next-page-div {
  width: 56%;
  float: right;
  height: 342px;
  background-color: #094c6b;
  margin-right: 35px;
}

.next-page-column-1 {
  width: 70%;
  color: #fff;
  float: left;
}

.next-page-column-2 {
  float: left;
  padding-left: 10%;
  width: 30%;
  height: 100%;

}

.next-page-text {
  margin-top: 17%;
  padding-left: 15%;
  font-weight: 300;
}

.next-page-next-up {
  font-size: 16px;
  text-align: right;
  margin: 5px 0;
  padding-right: 20px;
  width: 100%;
}

.next-page-title {
  font-size: 48px;
  text-align: right;
  margin: 5px 0;
  width: 100%;
}

.next-arrow {
  margin: 70% 0;
  content: url("../img/arrow.png");
  cursor: pointer;
}
.next-arrow:hover {
  margin: 70% 0;
  content: url("../img/arrow-hovered.png");
  cursor: pointer;

}

/*Style for sticky text*/

.note-container {
  position: absolute;
  top: 200px;
  opacity: 0;
}
.sidebar-quote {
  margin-top: .2em;
  font-family: Georgia;
  font-style: italic;
  font-size: 20px;
  line-height: 1.5em;
  color: #231f20;
}

.sidebar-quote-mobile {
  display: none;
}

.sidebar-quote-author {
  font-weight: 600;
  font-size: 14px;
  margin-top: 1em;
  color: #4d4d4d;
  margin-bottom: .5em;

}

.sidebar-author-title {
  font-weight: 200;
  font-size: 14px;
  padding-bottom: 1.5em;
  color: #5c5859;

}

/*STYLES FOR AUDIO DIV*/
.audio-subtitle {
  margin-top: .5em;
  font-style: italic;
  font-size: 13px;
  color: #59595c;
}

.audio-container-subtitle {
  margin-top: .5em;
  font-style: italic;
  font-size: 14px;
  color: #59595c;
}

.audio-header {
  font-size: 9px;
  font-weight: 700;
  color: #919395;
  border-top: solid 1px #d0d2d3;
  padding-top: 4em;

}

.audio-header-alone {
  font-size: 9px;
  font-weight: 700;
  color: #919395;
  padding-top: 4em;

}

.audio-author {
  font-size: 18px;
  font-weight: 600;
}

.audio-container {
  background-color: #f2f2f2;
  margin: 1.5em 0;
}

.audio-container-header {
  font-size: 9px;
  font-weight: 700;
  color: #919395;

}

.audio-info {
  padding-top: 5.5%;
  padding-bottom: 5.5%;
  width: 40%;
  padding-left: 10%;

}

.graph-container {
  height: 400px;
}

.case-study-graph-container {
  height: 451px;
}

#headline2-image {
  height: 250px;
}



.policies-graph-container {
  height: 530px;
}



/*Style for audio player*/
audio {
  background-color: #000;
}



/*Style for menu links*/
ul#menu li a {
    display: block;
	font-weight: 300;
    min-width: 140px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #094c6b;
    height: 36px;
    padding-top: 8px;
	border-bottom: solid 1px #073e56;
}

/*Hover state for top level links*/
ul#menu li:hover a {
  background-color: #0096d2;
}

/*Style for dropdown links*/
ul#menu li:hover ul a {
	background: #333;
color:#fff;
border-right-color: #222;
    border-right:1px solid;
    border-color: #222;
    border-top:5px solid;
    border-top-color:#222;
}


/***********structure***********/
.wrapper{
    width: 100%;
    margin:0 auto;
    padding-top: 50px;
}



.full-wrapper{
    width:100%;
    margin:0 auto;
    padding-top: 20px;
    border-top:1px solid #eee;
}

.content{
    width:1300px;
    margin: 0 auto;
    padding: 0px 30px;

}

.content ul{
   list-style: outside none none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.content ul li{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    padding-left: 1%;

}

.full-div {
	
	background-color: #fff; width: 100%; height: 100%;
}

blockquote {
  line-height: 1.5em;
  position: relative;
  color: #383838;

}

blockquote:before, blockquote:after {
    position: relative;
    font-size: 36px;
    color: #25a9e0;
    line-height: .1em;

}
blockquote:before {
    top: 8px;
    content: "\201C";
}
blockquote:after {
    top: 8px;
    content: "\201D";
}
.center-quote-div {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 1.5em;

}
.center-case-study-div {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  line-height: 1.5em;

}

.case-study-header {
  font-size: 26px;
}

.case-study-state {
  color: #25a9e0;
  font-weight: 600;
}

.quotation-blue {
  font-size: 36px;
  color: #25a9e0;
  font-weight: 500;
}

.center-quote-author {
  font-size: 16px;
  font-weight: 600;
  margin-top: .9em;
}

.center-div-initial {
  width: 57%; 
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 21.5%;
  right: 21.5%;
}



.center-div-header {
  font-size: 20px;
  /**color: #094c6b; **/
  color: #0a4c6a;
  margin-bottom: 1em;
}

.center-div-large-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4em;
}

.center-div-small-text {
  font-size: 25px;
  font-weight: 300;
  color: #666666;
  margin-top: 2em;
  line-height: 1.4em;
  
}

.center-div-author-description {
  font-size: 18px;
  color: #666666;
  margin-left: .5em;
}

.center-div-quote-author {
  font-size: 25px;
  color: #000;
  margin-top: 1.8em;
  line-height: 1.4em;
  
}

.ce

.text{
    width:500px;
    margin:35px 75px;
}


.left{
    float:left;
}

.right{
    float:right;
}

/*photo styles*/

.image-dual {
  float: left;
  width: 50%;
  margin-bottom: 1em;
}

.photo-caption {
  font-size: 14px;
  margin-top: 1em;
  margin-bottom: 3em;
  color: #4d4d4d;
}

/************** general text styles***************/

ul{
    text-align: left;
     list-style-position:outside;
    margin:10px 0px 25px 45px;
 
}

li{
    margin-bottom:15px;
    list-style:disc;
    padding-left:10px;
}




/*image that goes 65% width of wrapper. */
.overhalf{
    width:60%;
    margin-top:3px;
    margin-bottom: 10px;
    margin-right:75px;
}
.full{
       width:100%;
    margin-top:25px;
    margin-bottom: 10px; 
}

.caption{
  margin-bottom: 30px;
    font-size:14px;
    font-style:italic;
    color:#666;
}

    
.half{
    width:49.5%;
    margin-top:3px;
    margin-bottom: 10px;
}

iframe{
    margin-bottom:75px;
}

/*footer*/

footer {
    background-color: #f1f2f2;
    margin-top: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
    bottom: 0;
   overflow: hidden;
     height:auto;
 
}

footer .content{
  
    max-width: 1100px;
}

.copyright-footer {
  margin-left: 1%;
  font-size: 14px;
  padding-bottom: 2em;
}
    
   
    
}

#left {
  float: left;
  width: 45%;
  padding-left: 0px;
  padding-right:0px;

}

#right {

  float: right;
  width: 45%;
   padding-right: 0px;
  padding-left: 0px;
    font-size:14px;
    line-height: 1.3;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.8em;
  margin-top: 1.8em;

}

footer p {
    font-size: 14px;
}

footer h2 {
    text-transform: uppercase;
     font-weight: 700;
}

footer h3, footer h4{
   font-weight: 700; 
}

.credits {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 16px;
}

.job {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 12px;
}

.urbanstatement {
    font-style: italic;
    color: #666666;
    font-size: 13px;
    margin-bottom: 1em;
}



@media (max-width: 950px) {
   
    .subnav a{
        font-size:16px;
    }
}



/*browser windows smaller than 850px*/
@media (max-width: 900px) {
  .wrapper {width:100%; padding-top:20px;}
  .content {width:auto; padding:0px 30px}
  .container {width:auto; padding:0px 70px; margin-bottom: 40px;}
  ul {margin-left: 15px;}
  li {padding-left:0px;}
    .overhalf{margin-right:0px; margin-left:30px; width:70%;}
    
    
#mobilenavcontainer {
width: 100%;
position: fixed;
top: 0px;
height: 45px;
display: block;  
    z-index: 11;
}
    
    
/*Hide checkbox*/
input[type=checkbox]:unchecked ~ #menu{
display: none;
visibility:hidden;

    
}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    display: block;
    position: absolute;
    top: 85px;
    width: 100%;
    height: 150px;
       z-index: 10;
   
}
    
ul#menu {
    float:none;
    display: none; 
    text-align: center;
    list-style:none;
    margin:0px;
}

#menu li{
    margin-bottom:0px;
    list-style:none;
    padding-left:0px; 
}

.headerimage{
        top:44px;
    }
.sidebar-quote-mobile {
  display: block;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-div-mobile {
  border-left: 70px solid #094c6b;
  border-right: 70px solid #094c6b;
  margin: 50px -70px;
}
.right-col{
  display: none;
}
    
    #left{ width:100%;}
    #right{ width:100%; margin-top:30px;}
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media (max-width: 768px) {
  .subnav {
  display: none;
  }
  .show-menu{
    display: block;
    width: 100%;
    position: fixed;
    text-decoration: none;
    color: #fff;
    background: #052635;
    text-align: center;
    padding: 10px 0;   
    } 
    
  .container {
    padding: 0 34px; 
  }

  .sidebar-div-mobile {
    margin: 50px -34px;
    border-left: 34px solid #094c6b;
    border-right: 34px solid #094c6b;
  }
}

@media (max-width: 550px) {
  .sidebar-quote-mobile {
    width: 78%;
  }
}

@media (max-width: 320px) {

    
  .container {
    padding: 0 20px; 
  }
  .sidebar-quote-mobile {
    width: 78%;
  }
  .sidebar-div-mobile {
    margin: 30px -20px;
    border-left: 20px solid #094c6b;
    border-right: 20px solid #094c6b;
  }

  .center-div-initial {
    width: 90%;
    left: 5%;
    right: 5%;
  }
}
/*browser windows smaller than 850px*/
@media (max-width: 600px) {
   .wrapper {padding-top:10px;} 
   .headerimage{ height:250px;}
    h1{font-size: 45px;padding-top: 100px;}
    .overhalf{width:100%;}