html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     border: 0px none;
     margin: 0px;
     padding: 0px;
     vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

body, html {
     color: #000;
     font-family: "Lato",sans-serif;
     font-size: 18px;
     height: 100%;
     line-height: 1.2;
     margin: 0px;
     padding: 0px;
     text-align: left;

}
.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
.anchor-large {
    display: block;
    position: relative;
    top: -200px;
    visibility: hidden;
}
.left-col ul {
  padding: 0px 90px 0px 55px;
  margin: 0;
}

.container {
  padding: 0 70px;
}

.row {
  width: 100%;
  float: left;
}

.nav-list {
  padding-left: 0px;
  pointer-events: all;
  cursor: pointer;
}

blockquote, q {
     quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0px;
}

*, *::before, *::after {
     box-sizing: border-box;
}

.clearfix::after {
     clear: both;
     content: "";
     display: table;
}



a{
 color:#1696d2;
 text-decoration: none;
   
}

a:hover{
 color:#000;
 text-decoration: none;    
    
}

p{
    margin-bottom:10px;
    line-height: 1.3;
}
.no-margin-bottom{
  margin-bottom: 0px !important;
}
h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.bold{
    
    font-weight: 700;
}

.emphasis{
    
   font-style: italic;
}

#introArrow {
    position: fixed;
    bottom: 80px;
    left: calc(50% - 16px);
    opacity: 1;
}
.introArrowWrapper{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 130px;
    background: rgba(255,255,255,.9);
    opacity: 0;
    z-index: -1;
    /*pointer-events: none;*/ 
}
#scrollText{
  position: fixed;
  font-size: 16px;
  color:#9d9d9d;;
  font-style: italic;
  left: calc(50% - 54px);
  bottom: 45px;

}


.dem-quote5{
}
/************subnav***************/
.subnav{
    width: 100%;
    position: fixed;
    top: 51px;
    background-color: #052635;
    z-index: 99999;

}

.subnav-arrow {
  content: url("../img/arrow-menu-mobile.png"); 
    max-width: 9.25px; 
    max-height: 5px;
    position: absolute;
    top: 16px;
    left: 85px;
}

.subnav ul{
    text-align: center;
    margin: 0px;
}
.subnav ul li{
  display: block;
  float: left;
  text-align: center;
  border-right: solid 1px #6d6e70;
  margin:  0px 0px 0px 0px; 
  width: 12.5%;
  padding-left: 0px !important;
  border-bottom: solid 3px #094c6b;

}

#no-border{
  border-right: none !important;

}

.subnav a{
	
	font-size:18px;
	font-weight: 300;
	display: block;
  color: white;
  padding: 19px 0;

}

.subnav li:hover{ 
    color: #fff;
	  background-color: #094c6b;
    border-bottom: solid 3px #25a9e0;
}
.hovered-category {
  color: #fff;
  background-color: #094c6b;
}

.hovered-category-mobile {
  color: #1796d3 !important;
}


/*****************mobile chapter (replacing the subnav for smaller screens) ******************/

#mobilenavcontainer{
    display: none;
}


.show-menu {
	display: none;
    margin-top:50px;
	font-weight: 300;

}

/**DATA BUTTON**/

.button-div {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 43px;
}
.data_button {
    padding: 5 10 5 0px;
    float: left;
    margin-right: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.data_button span {
    color: #fff;
    background-color: #000;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    border: solid 1px #e1e1e1;
}

.data_button span:hover{
  background-color: #1696d2;
  color: white;
}


/**ABOUT PAGE**/
.full-div.topRow.about{
  border-bottom: 0px;
  margin-bottom: 0px;
}
.about-column {
  padding-top: 0px;
  max-width: 740px;
  width: 57%;
  margin-left: auto;
  margin-right: auto;
}
.container.clearfix.about{
  padding: 0px;
}

.about-div {
  margin-top: 52px;
}

.about-h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 34px;
  margin-top:25px;
}
.about-h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.methodology-body p {
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.project-credits-body p {
  font-size: 16px;
  margin-bottom: 23px;
  margin-top: 0px;
  line-height: 1.3
}

.project-credits-body br {
  line-height: 1.6;
}

.about-end {
  font-size: 18px;
  font-style: italic;
  color: #696969;
  line-height: 1.5;
}
/*Style for left column*/
.section-header {
  /*margin-top: 140px;*/
  margin-bottom: 17px;
  color: #094c6b;
}

.section-header-no-margin{
  margin-top: 100px;
  margin-bottom: 33px;
  color: #094c6b;
}
.section-header-no-margin, .section-header{
  font-weight:600;
  font-size:28px;
}
.left-col-header {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 43px;
  margin-top:80px;
  margin-bottom:30px;

}

li.spacing {
  line-height: 1.5em;
  padding-bottom: 15px;
}


/*Style for conclusion section*/


.conclusion-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  width: 61%;
  margin-top: 150px;
}
.conclusion-div.reform-conclusion{
  padding-bottom: 150px;
}

.conclusion-header {
  font-weight: 600;
  font-size: 36px;
}

.conclusion-text {
  font-size: 25px;
  color: #666666;
  font-weight: 300;
  margin-bottom: 2.5em;
  margin-top: 25px;
}
.bottom-p{
  margin-bottom: 0px;
}
.nar-bottom-p{
  border-bottom: 150px solid white;
}
/*Style for next page div*/

.next-page-div {
  width: 766px;
  float: right;
  height: 342px;
  background-color: #094c6b;
  margin-right: 0px;
  cursor: pointer;
  pointer-events: all;
  z-index: 9999;
  position: relative;
}

.next-page-column-1 {
  width: 70%;
  color: #fff;
  float: left;
}

.next-page-column-2 {
  float: left;
  padding-left: 10%;
  width: 30%;
  height: 100%;

}

.next-page-text {
  margin-top: 17%;
  padding-left: 15%;
  font-weight: 300;
}

.next-page-next-up {
  font-size: 16px;
  text-align: right;
  margin: 10px 0;
  width: 100%;
}

.next-page-title {
  font-size: 48px;
  text-align: right;
  margin: 5px 0;
  width: 100%;
}

.next-arrow {
  margin: 70% 0;
  content: url("../img/arrow.png");
  max-width: 82px;
  width: 80%;
  cursor: pointer;
}
.next-arrow-hovered {
  content: url("../img/arrow-hovered.png");
  margin: 70% 0;
  max-width: 82px;
  width: 80%;
  cursor: pointer;
}

/*Style for sticky text*/


.border {
  border-bottom: solid 1px #d0d2d3;
}
.custom.border{
  margin-top: 45px;
  margin-bottom: 15px;
}
.sidebar-div-mobile .border{
  margin-bottom: 20px;
  margin-top: 40px;
}
.note-container {
  position: absolute;
  top: 200px;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.note-container.show {
  z-index: 1;
  pointer-events: all;
  opacity: 1;
}
.sidebar-quote {
  font-family: Georgia;
  font-style: italic;
  font-size: 20px;
  line-height: 1.5em;
  color: #231f20;
  margin-bottom: 35px;
}
#short-sidebar-pol{
  font-size:17px;
  line-height:1.3;
}

div.sidebar-quote p {
  margin-top: .8em;
  margin-bottom: .8em;
}

.sidebar-quote-mobile {
  display: none;
}

.sidebar-quote-author {
  font-weight: 600;
  font-size: 18px;
  margin-top: 1em;
  color: #4d4d4d;
}


.sidebar-author-title {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 1.5em;
  color: #5c5859;
  font-style: italic;
  line-height: 1.5em;
}
.sidebar-author-title span{
  display: inline-block;
  margin-bottom: 10px;
}

/*STYLES FOR CHARTS*/

.chart-title {
  font-size: 22px;
  line-height: 1.2em;
  margin-bottom: 1em;
}

.chart-info {
  font-size: 11px;
}

.graph-row {
  margin: 65px 0px 0px 0px;
  width: 100%;
  float: left;
}

.graph-div {
  float: left;
  width: 50%;
  padding: 0 1%;
}

.graph-row-3 .graph-div{
  width: 33%;
}
.graph-row-full .graph-div{
  width: 100%;
}
.graph-row-3{
  margin: 65px 0px 95px 0px;
}


.graph-div img {
  width: 100%;
  float: left;

}
.pie-header {
  font-size: 18px;
  text-align: left;
  margin-bottom: 5%;
  font-weight: 700;
  text-transform: uppercase;
}
.graph-subhead {
  margin: 0 3%;
  text-align: center;
  height: 40px;
  font-weight: bold;
}
.graph-row-3 .graph-subhead{
  height: 105px;
  font-size: 17px;
  font-weight: bold;
}
.graph-row-full .graph-subhead{
    width: calc(50% - 10px);
    height: 80px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin: 0px;
}




/*Style for audio player and container*/
.audioplayer{
  width: 330px;
  height: 60px;
}

.audioplayer-full-width{
  width: 66%;
  max-width: 420px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.audio-table {
  display: table;
  width: 100%;
}

.audio-bar {
  float: left;
  width: 45%;
}

.audio-bar-text-full-width {
  width: 420px;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0% 0% 0% ;
}



.play{
  cursor: pointer;
  background: url('../img/play.png') ;
  height:60px; 
  width: 60px;
  border: none;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;
  margin-left: -15px;
  z-index: 10;
}
.pause{
  cursor: pointer;
  background: url('../img/pause.png') ;
  height:60px; 
  width: 60px;
  border: none;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;
  margin-left: -15px;
  z-index: 10;

}

.timeline{
  width: 245px;
  height: 13px;
  margin-top: 23px;
  float: left;
  background: rgba(0,0,0,.2);
  z-index: 10;
  cursor: pointer;
  
}
.playhead{
  width: 0px;
  height: 13px;
  background: #1696d2;

}

.audio-title {
  font-size: 14px;
}

.audio-div {
  border-bottom: solid 1px #d0d2d3;
  padding-bottom: 2.5em;
  margin-bottom: 1em;
}
.audio-subtitle {
  margin-top: .5em;
  font-style: italic;
  font-size: 13px;
  color: #59595c;
}

.audio-container-subtitle {
  margin-top: .5em;
  font-style: italic;
  font-size: 14px;
  color: #59595c;
  line-height: 1.3em;
}

.audio-header {
  font-size: 9px;
  font-weight: 700;
  color: #919395;

}

.audio-header-alone {
  font-size: 9px;
  font-weight: 700;
  color: #919395;

}

.audio-author {
  font-size: 18px;
  font-weight: 600;
}

.audio-author-title {
  font-size: 14px;
  margin-bottom: 1.1em;
  margin-top: .3em;
}

.audio-container {
  background-color: #f2f2f2;
  margin: 1.5em 0;
  z-index: 2;
}

.audio-container-header {
  font-size: 9px;
  font-weight: 700;
  color: #919395;

}

.audio-info {
  padding-bottom: 5.5%;
  padding-left: 8%;
  background-color: #f2f2f2;
  display: table-cell;

}

.audio-cell {
    background-color: #f2f2f2;
    display: table-cell;
    vertical-align: middle;
    padding-left: 46px;
    padding-top: 28px;
    padding-bottom: 36px;
}

.audio-cell-full-width {
  background-color: #f2f2f2;
  vertical-align: middle;
  padding: 0% 0% 0% 0%;

}

.left-cell {
  width: 43%;
}

.timeCurrent {
  color: #59595c;
  font-size: 13px;
  float: left;

}

.timeEnd {
  color: #59595c;
  font-size: 13px;
  float: right;
}

.clip-time-row {
  width: 100%;
  margin-top: 3px;
}

.graph-container {
  height: 400px;
}

.case-study-graph-container {
  height: 451px;
}

#headline2-image {
  height: 250px;
}



.policies-graph-container {
  height: 530px;
}



/*Style for audio player*/
audio {
  
}



/*Style for menu links*/
ul#menu li a {
    display: block;
	font-weight: 300;
    min-width: 140px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #094c6b;
    height: 45px;
    padding-top: 8px;
	border-bottom: solid 1px #073e56;
}

/*Hover state for top level links*/
ul#menu li:hover a {
  background-color: #0096d2;
  color: #fff;
}

/*Style for dropdown links*/
ul#menu li:hover ul a {
	background: #333;
color:#fff;
border-right-color: #222;
    border-right:1px solid;
    border-color: #222;
    border-top:5px solid;
    border-top-color:#222;
}


/***********structure***********/
.wrapper{
    max-width: 1440px;
    margin:0 auto;
    padding-top: 60px;
}



.full-wrapper{
    z-index: 10;  
    width:100%;
    margin:0 auto;
    padding-top: 20px;
    border-top:1px solid #eee;
}

.content{
    width:1440px;
    margin: 0 auto;
    padding: 0px 30px;

}

.content ul{
   list-style: outside none none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.content ul li{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    padding-left: 1%;

}

.full-div {
	background-color: #fff;
  width: 100%;
  margin-bottom: 150px;
}

blockquote.blockquoteClass {
  line-height: 1.6;
  position: relative;
  color: #000;
  font-size: 20px;

}

blockquote br {
  margin-bottom: 2em;
}

blockquote:before, blockquote:after {
    position: relative;
    font-size: 36px;
    color: #25a9e0;
    line-height: .1em;

}
blockquote:before {
    top: 8px;
    content: "\201C";
}
blockquote:after {
    top: 8px;
    content: "\201D";
}
.center-quote-div {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 1.5em;

}

.center-quote-author-title {
  font-size: 14px;
  line-height: 1;
}
.center-case-study-div {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  line-height: 1em;

}

.photo-div {
  margin: 52px 0;

}

.case-study-header {
  font-size: 26px;
  margin-bottom: 33px;
}

.case-study-state {
  font-weight: 300;
}

.quotation-blue {
  font-size: 36px;
  color: #25a9e0;
  font-weight: 500;
}

.center-quote-author {
  font-size: 16px;
  font-weight: 600;
  margin-top: 9px;
}

.center-div-initial {
  max-width: 740px; 
  width: 57%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 273px;

}



.center-div-header {
  font-size: 20px;
  /**color: #094c6b; **/
  color: #0a4c6a;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.center-div-large-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4em;
}

.center-div-small-text {
  font-size: 25px;
  font-weight: 300;
  color: #666666;
  margin-top: 2em;
  line-height: 1.4em;
  
}

.center-div-author-description {
  font-size: 18px;
  color: #666666;
}

.center-div-quote-author {
  font-size: 25px;
  color: #000;
  margin-top: 1.8em;
  line-height: 1.4em;
  
}

.ce

.text{
    width:500px;
    margin:35px 75px;
}


.left{
    float:left;
}

.right{
    float:right;
}

/*photo styles*/

.image-dual {
  float: left;
  width: 50%;
  margin-bottom: 1em;
}

.photo-caption {
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 76px;
  color: #4d4d4d;
}

/************** general text styles***************/

ul{
    text-align: left;
     list-style-position:outside;
    margin:10px 0px 25px 45px;
 
}

li{
    margin-bottom:15px;
    list-style:disc;
    padding-left:10px;
}




/*image that goes 65% width of wrapper. */
.overhalf{
    width:60%;
    margin-top:3px;
    margin-bottom: 10px;
    margin-right:75px;
}
.full{
       width:100%;
    margin-top:25px;
    margin-bottom: 10px; 
}

.caption{
  margin-bottom: 30px;
    font-size:14px;
    font-style:italic;
    color:#666;
}

    
.half{
    width:49.5%;
    margin-top:3px;
    margin-bottom: 10px;
}

iframe{
    margin-bottom:75px;
}

/*footer*/

footer {
    background-color: #f1f2f2;
    margin-top: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
    bottom: 0;
   overflow: hidden;
     height:auto;
 
}

footer .content{
  
    max-width: 1100px;
}

.copyright-footer {
  margin-left: 1%;
  font-size: 14px;
  width: 430px;
  float: right;
  margin-right: 70px;
  padding-top: 3px;
}
.summary-footer{
  font-size: 16px;
  font-weight: bold;
  width: 180px;
  margin-left: 70px;
  clear: both;
  float: left;
  padding-bottom: 20px;
}
    

#left {
  float: left;
  width: 45%;
  padding-left: 0px;
  padding-right:0px;

}

#right {

  float: right;
  width: 45%;
   padding-right: 0px;
  padding-left: 0px;
    font-size:14px;
    line-height: 1.3;
}

p {
  line-height: 1.6;
  margin-bottom: 30px;

}

footer p {
    font-size: 14px;
}

footer h2 {
    text-transform: uppercase;
     font-weight: 700;
}

footer h3, footer h4{
   font-weight: 700; 
}

.credits {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 16px;
}

.job {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 12px;
}

.urbanstatement {
    font-style: italic;
    color: #666666;
    font-size: 13px;
    margin-bottom: 1em;
}

.chart-mobile-case-study {
  display: none;
}

.chart-desktop-case-study {
  display: block;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.bottomRow, .topRow{
  background: rgba(255,255,255,1);
  z-index: 9999;
  position: relative;
}
.topRow{
  border-bottom: 150px solid white;
}
.bottomRow{
  padding-bottom: 150px;
}
.refBottomRow{
  padding-bottom: 0px;
}
#one-in-five{
  padding-top: 35px;
}
#one-in-five img{
  width: 440px;
}
#one-in-five-text{
  font-size: 24px;
  font-weight: 300;
  width: 290px;
  line-height: 1.3;
  float: right;
  padding-top: 71px;
}
#murder-label{
  position: relative;
  width: 330px;
  top: 110px;
  left: 80px;
}
.excerptWord{
  font-style: normal;
}
.mobilePie{
  display: none;
}
.desktopPie{
  display: block;
}

/***********************************************************************************/
/********************************** MEDIA QUERIES **********************************/
/***********************************************************************************/
@media (max-width: 1340px), (max-height: 670px) {
  .sidebar-quote{
    font-size: 18px;
  }
  #one-in-five img{
    width: 390px;
  }
  #one-in-five-text{
    padding-top: 39px;
    width: 210px;
  }
}
@media (max-width: 1140px), (max-height: 670px) {
  #one-in-five{
    width: 690px;
    margin: 0 auto;
  }
  #one-in-five img{
    width: 430px;
  }
  .chart-mobile-case-study {
    display: block;
  }
  .graph-div {
    width: 100%;
  }
  .copyright-footer {
    text-align: center;
  }
  .wrapper {
    width:100%;
    padding-top:20px;
  }
  .about.wrapper{
    padding-top: 0px !important;
  }
  .container {
    width:auto;
    padding:0px 70px;
    margin-bottom: 40px;
  }
  .chart-title {
    font-size: 18px;
  }
  .pie-header {
    font-size: 16px;
  }
  .chart-info {
    font-size: 11px;
  }
  .overhalf{
    margin-right:0px;
    margin-left:30px;
    width:70%;
  }
  .headerimage{
    top:44px;
  }
  .sidebar-quote-mobile {
    display: block;
    width: 52%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
    padding-bottom: 32px;    
  }
  .sidebar-quote-mobile .audio-header-alone{
    padding-top: 0px;
  }
  .sidebar-quote-mobile .sidebar-author-title{
    padding-bottom: 0px !important;
  }
  .sidebar-quote-mobile .sidebar-quote{
    margin-bottom: 0px !important;
  }
  div.sidebar-author-title a {
    pointer-events: all;
    cursor: pointer;
  }
  .sidebar-div-mobile {
    border-left: 70px solid #094c6b;
    border-right: 70px solid #094c6b;
    margin: 50px -70px;
  }
  .right-col{
    display: none;
  }
  #left{
    width:100%;
  }
  #right{
    width:100%;
    margin-top:30px;
  }
  .pie2{
    width: 50% !important;
  }
  #murder-label {
      width: 310px;
      top: 110px;
      left: 130px !important;
  }
}
@media (max-width: 1100px), (max-height: 670px) {
  .subnav a{
    font-size:16px;
  }
}
@media (max-width: 950px) {
  .subnav a{
    font-size:14px;
  }
  #murder-label {
    left: 70px !important;
  }
}
@media (max-width: 908px){
  .next-page-div{
    width: 100%;
  }
}
@media (max-width: 880px), (max-height: 670px) {
  ul {
    margin-left: 15px;
  }
  li {
    padding-left:0px;
  }
  .subnav {
    display: none;
  }
  .show-menu{
    display: block;
    width: 100%;
    position: fixed;
    text-decoration: none;
    color: #fff;
    background: #052635;
    text-align: left;
    padding: 10px 10px;   
  } 
  #current-page-navbar {
    display: block;
    float: right;
    text-decoration: none;
    color: #929497;
    background: #052635;
    font-size: 7px;
    font-weight: 800;
    text-align: right;
    margin-right: 15px;
  }
  #mobilenavcontainer {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 45px;
    display: block;  
    z-index: 99999;
  }
  #mobilenavcontainer label{
    cursor: pointer;
  }
  input[type=checkbox]:unchecked ~ #menu{
    display: none;
    visibility:hidden;
  }
  input[type=checkbox]:checked ~ #menu{
    display: block;
    position: absolute;
    top: 45px;
    height: 150px;
    z-index: 10;
    width: 20%;
    left: 0px;
  }
  .checkbox {
    display: none;
  }
  .current-page-name {
    color: #1795d2;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.5em;
    text-transform: capitalize;
    text-align: right;
  }
  ul#menu {
    float:none;
    display: none; 
    text-align: center;
    list-style:none;
    margin:0px;
  }
  #menu li{
    margin-bottom:0px;
    list-style:none;
    padding-left:0px; 
  }
}
@media (max-width: 766px), (max-height: 670px) {
  .center-div-initial{
    width:70%;
  }
  #footer-pdf-word:before{
    content: "Download" !important;
  }
  .about-column{
    width: 70%;
  }
  #one-in-five{
    width: 100%;
  }
  #one-in-five img{
    width: 60%;
  }
  #one-in-five-text{
    width: 30%;
    margin-left: 10%;
  }
  #murder-label{
    width: 250px !important;
  }
  .next-page-div {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    width: calc(100% + 68px);
    margin-right: 0px;
    height: initial;
    right: -34px;
  }
  .next-page-column-1 {
    width: 78%;
    margin-left: 2%;
  }
  .next-page-column-2 {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    width: 20%;
    padding-left: 0%;
    height: 100%;
  }
  .next-arrow, .next-arrow-hovered {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 30px;
    padding-left: 0;
    /* max-width: 54px; */
    width: 41px;
    height: 70px;
    /* height: 50%; */
    top: calc(50% - 41px);
    position: relative;
  }
  .next-page-text {
    margin-top: 23px;
    padding-left: 5px;
  }
  .next-page-next-up {
    font-size: 14px;
    text-align: left;
    padding-left: 5px;
    margin-top: 20px;
  }
  .next-page-title {
    font-size: 28px;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 0px;
  }
  .copyright-footer {
      margin-left: 0px; 
      font-size: 14px;
      width: initial;
      float: initial;
      margin-right: 0px; 
      padding-top: 0px; 
      clear: both;
      padding-bottom: 30px;
  }
  .summary-footer {
      width: inherit;
      margin-left: 0;
      clear: both;
      float: inherit;
      padding-bottom: 21px;
      padding-top: 7px;
      text-align: center;
  }
  .container {
    padding: 0 34px; 
  }
  .sidebar-div-mobile {
    margin: 50px -34px;
    border-left: 34px solid #094c6b;
    border-right: 34px solid #094c6b;
  }
  .center-div-initial{
    padding-top: 203px;
    width: 70%;
  }
}
@media (max-width: 670px), (max-height: 670px) {
  .about-column{
    width: 100%;
    padding-left: 34px;
    padding-right: 34px;
  }
  #one-in-five{
    width: 100%;
  }
  #one-in-five img{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display: block;
  }
  #one-in-five-text{
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 60px;
    margin: 0 auto;
    display: block;
  }
  .introArrowWrapper{
    display: none;
  }
  .next-page-text{
    font-size: 16px;
  }
  .center-div-initial{
    width: 100%;
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 188px;
  }
  .center-div-header{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .center-div-large-text, .conclusion-header{
    font-size: 26px;
    line-height: 1.2;
  }
  .center-div-quote-author{
    font-size: 20px;
    margin-top: 13px;
  }
  .center-div-author-description{
    font-size: 16px;
  }
  .center-quote-div{
    margin-right: 0;
    margin-left: 0;
  }
  .center-div-small-text, .conclusion-text{
    font-size: 20px;
    line-height: 1.5
  }
  .left-col-header{
    margin-top: 60px;
  }
  .section-header{
    margin-bottom: 0px;
  }
  blockquote.blockquoteClass{
    font-size: 16px;
    line-height: 1.8;
  }
  .topRow{
    border-bottom: 30px solid white;
  }
  .full-div{
    margin-bottom: 30px;
  }
  .image-dual.elvin{
    width: 100%;
  }
  .left-col p{
    font-size: 16px;
    line-height: 1.6;
  }
  .left-cell{
    width: calc(100% - 34px);
    padding-bottom: 0px;
    padding-top: 36px !important;
  }
  .audio-cell{
    width: calc(100% - 34px);
    display: block;
    padding-top: 0px;
    padding-left: 30px;
  }
  .left-col ul{
    padding-left: 30px !important; 
    padding-right: 30px !important;
  }
  .conclusion-div{
    width: 100%;
  }
  .center-case-study-div{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .case-study-header{
    font-size: 22px;
  }
  .case-study-state{
    display: inline-block;
    margin-top: 8px;
    line-height: 23px;
  }
  .center-case-study-div .audio-table, .center-case-study-div .audio-cell-full-width, .center-case-study-div .audio-bar-text-full-width{
    display: block;
  }
  .center-case-study-div .audio-bar-text-full-width {
      width: 100%;
      padding: 30px;
  }
  .center-case-study-div .audioplayer-full-width{
    width: 100%;
    padding-left: 30px;
    top: -12px;
    position: relative;
  }
  .center-case-study-div .timeline{
    width: 150px !important;
  }
  .graph-row-3 .graph-div, .pie2{
    max-width: 300px;
    width: 100% !important;
    float: none;
    display: block;
    margin: 0 auto;
  }
  .graph-row-3 .graph-subhead, .pie2 .graph-subhead{
    clear: both;
    height: 75px;
  }
  .graph-row-3 img, .pie2 img{
    margin-bottom: 70px ;
  }
  #lastPie3 img{
    margin-bottom: 0px !important;
  }
  .mobilePie{
    display: block;
  }
  .desktopPie{
    display: none;
  }
  .pie2.right img{
    margin-bottom: 0px;
  }
  #doublePieWrapper{
    max-width: 410px;
    margin: 0 auto;
    display: block;
    float: none;
  }
  .graph-row-full .graph-subhead {
      width: 250px;
      display: block;
      margin: 0 auto;
      height: 30px;
  }
  #murder-label {
    top: 421px !important;
    left: 3px !important;
    width: 320px !important;
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding-top:10px;
  } 
  .headerimage {
    height:250px;
  }
  h1 {
    font-size: 45px;
    padding-top: 100px;
  }
  .overhalf{
    width:100%;
  }
}

@media (max-width: 550px) {
  .sidebar-quote-mobile {
    width: 78%;
  }
  input[type=checkbox]:checked ~ #menu{
    width: 100%;
  }
  .next-arrow, .next-arrow-hovered{
    margin-left: 10px;
  }
}
@media(max-width: 460px){
  #doublePieWrapper{
    width: 290px !important;
  }
  .pie2{
    max-width: 210px;
  }
  #murder-label {
    top: 296px !important;
    width: 280px !important;
  }
}

@media (max-width: 320px) {
  .about-column{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .next-page-div {
    width: calc(100% + 40px);
    margin-right: 0px;
    height: initial;
    right: -20px;
  }
  .container {
    padding: 0 20px; 
  }
  .sidebar-quote-mobile {
    width: 78%;
  }
  .sidebar-div-mobile {
    margin: 30px -20px;
    border-left: 20px solid #094c6b;
    border-right: 20px solid #094c6b;
  }
  .center-div-initial{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 188px;
  }

}
#footer-pdf-word:before{
  content: "Read";
}