html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
     border: 0px none;
     margin: 0px;
     padding: 0px;
     vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
     display: block;
}

body, html {
     color: #000;
     font-family: "Lato",sans-serif;
     font-size: 18px;
     height: 100%;
     line-height: 1.2;
     margin: 0px;
     padding: 0px;
     text-align: left;

}

.left-col ul {
  padding: 10px 90px 25px 55px;
  margin: 0;
}

.container {
  padding: 0 30px;
}

.row {
  width: 100%;
  float: left;
}

.nav-list {
  padding-left: 0px;
  pointer-events: all;
  cursor: pointer;
}

blockquote, q {
     quotes: none;
}

blockquote::before, blockquote::after, q::before, q::after {
     content: none;
}

table {
     border-collapse: collapse;
     border-spacing: 0px;
}

*, *::before, *::after {
     box-sizing: border-box;
}

.clearfix::after {
     clear: both;
     content: "";
     display: table;
}



a{
 color:#1696d2;
 text-decoration: none;
   
}

a:hover{
 color:#000;
 text-decoration: none;    
    
}

p{
    margin-bottom:10px;
    line-height: 1.3;
}

h3{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
}


.bold{
    
    font-weight: 700;
}

.emphasis{
    
   font-style: italic;
}

#introArrow {
    position: relative;
    bottom: -150px;
    left: calc(50% - 50px);
    width: 50px;
    animation: MoveUpDownMain 2s linear infinite;
    opacity: 1;
}
@keyframes MoveUpDownMain {
  0% {
    bottom: -150px;
  }
  50% {
    bottom: -160px;
  }
  100% {
    bottom: -150;
  }
}

.dem-quote5{
}
/************subnav***************/
.subnav{
    width: 100%;
    position: fixed;
    top: 51px;
    background-color: #052635;
    z-index: 100;

}

.subnav-arrow {
  content: url("../img/arrow-menu-mobile.png"); 
    max-width: 9.25px; 
    max-height: 5px;
    position: absolute;
    top: 16px;
    left: 85px;
}

.subnav ul{
    text-align: center;
    margin: 0px;
}
.subnav ul li{
  display: block;
  float: left;
  text-align: center;
  border-right: solid 1px #6d6e70;
  margin:  0px 0px 0px 0px; 
  width: 12.5%;
  padding-left: 0px !important;
  border-bottom: solid 3px #094c6b;

}

#no-border{
  border-right: none !important;

}

.subnav a{
	
	font-size:18px;
	font-weight: 300;
	display: block;
  color: white;
  padding: 19px 0;

}

.subnav li:hover{ 
    color: #fff;
	  background-color: #094c6b;
    border-bottom: solid 3px #25a9e0;
}
.hovered-category {
  color: #fff;
  background-color: #094c6b;
}

.hovered-category-mobile {
  color: #1796d3 !important;
}


/*****************mobile chapter (replacing the subnav for smaller screens) ******************/

#mobilenavcontainer{
    display: none;
}


.show-menu {
	display: none;
    margin-top:50px;
	font-weight: 300;

}

/**DATA BUTTON**/

.button-div {
  display: inline-block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 35px;
}
.data_button {
    padding: 5 10 5 0px;
    float: left;
    margin-right: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.data_button span {
    color: #fff;
    background-color: #000;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    border: solid 1px #e1e1e1;
}

.data_button span:hover{
  background-color: #1696d2;
  color: white;
}


/**ABOUT PAGE**/
.about-column {
  padding-top: 224px;
  max-width: 740px;
  width: 57%;
  margin-left: auto;
  margin-right: auto;
}

.about-div {
  margin-top: 52px;
}

.about-h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 34px;

}

.methodology-body p {
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 0px;
}

.project-credits-body p {
  font-size: 16px;
  margin-bottom: 23px;
  margin-top: 0px;
  line-height: 1.3
}

.project-credits-body br {
  line-height: 1.6;
}

.about-end {
  font-size: 18px;
  font-style: italic;
  color: #696969;
  line-height: 1.5;
}
/*Style for left column*/
.section-header {
  margin-top: 5em;
  font-size: 26px;
  margin-bottom: -4em;
  color: #094c6b;
}

.section-header-no-margin{
  margin-top: 5em;
  font-size: 26px;
  color: #094c6b;
}

.left-col-header {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 1.5em;
  margin-top: 5em;

}

li.spacing {
  line-height: 1.5em;
  padding-bottom: 15px;
}


/*Style for conclusion section*/


.conclusion-div {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  width: 61%;
  margin-top: 150px;
}
.conclusion-div.reform-conclusion{
  padding-bottom: 150px;
}

.conclusion-header {
  font-weight: 600;
  font-size: 36px;
}

.conclusion-text {
  font-size: 25px;
  color: #666666;
  font-weight: 300;
  margin-bottom: 2.5em;
  margin-top: 25px;
}
.bottom-p{
  margin-bottom: 0px;
}

/*Style for next page div*/

.next-page-div {
  width: 56%;
  float: right;
  height: 342px;
  background-color: #094c6b;
  margin-right: 35px;
  cursor: pointer;
  pointer-events: all;
  margin-top: 150px;

}

.next-page-column-1 {
  width: 70%;
  color: #fff;
  float: left;
}

.next-page-column-2 {
  float: left;
  padding-left: 10%;
  width: 30%;
  height: 100%;

}

.next-page-text {
  margin-top: 17%;
  padding-left: 15%;
  font-weight: 300;
}

.next-page-next-up {
  font-size: 16px;
  text-align: right;
  margin: 5px 0;
  width: 100%;
}

.next-page-title {
  font-size: 48px;
  text-align: right;
  margin: 5px 0;
  width: 100%;
}

.next-arrow {
  margin: 70% 0;
  content: url("../img/arrow.png");
  max-width: 82px;
  width: 80%;
  cursor: pointer;
}
.next-arrow-hovered {
  content: url("../img/arrow-hovered.png");
  margin: 70% 0;
  max-width: 82px;
  width: 80%;
  cursor: pointer;
}

/*Style for sticky text*/

.border {
  border-bottom: solid 1px #d0d2d3;
}

.note-container {
  position: absolute;
  top: 200px;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  padding-right: 30px;
  padding-left: 60px;
}

.note-container.show {
  z-index: 1;
  pointer-events: all;
  opacity: 1;
}
.sidebar-quote {
  font-family: Georgia;
  font-style: italic;
  font-size: 20px;
  line-height: 1.5em;
  color: #231f20;
  margin-bottom: 35px;
}

div.sidebar-quote p {
  margin-top: .8em;
  margin-bottom: .8em;
}

.sidebar-quote-mobile {
  display: none;
}

.sidebar-quote-author {
  font-weight: 600;
  font-size: 18px;
  margin-top: 1em;
  color: #4d4d4d;
}


.sidebar-author-title {
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 1.5em;
  color: #5c5859;
  font-style: italic;
  line-height: 1.5em;

}

/*STYLES FOR CHARTS*/

.chart-title {
  font-size: 22px;
  line-height: 1.2em;
  margin-bottom: 1em;
}

.chart-info {
  font-size: 11px;
}

.graph-row {
  margin: 65px 0px 0px 0px;
  width: 100%;
  float: left;
}

.graph-div {
  float: left;
  width: 50%;
  padding: 0 1%;
}



.graph-div img {
  width: 100%;
  float: left;

}
.pie-header {
  font-size: 18px;
  text-align: left;
  margin-bottom: 5%;
  font-weight: 700;
  text-transform: uppercase;
}
.graph-subhead {
  margin: 0 3%;
  text-align: center;
}




/*Style for audio player and container*/
.audioplayer{
  width: 330px;
  height: 60px;
}

.audioplayer-full-width{
  width: 66%;
  max-width: 420px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.audio-table {
  display: table;
  width: 100%;
}

.audio-bar {
  float: left;
  width: 45%;
}

.audio-bar-text-full-width {
  width: 66%;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0% 0% 0% ;
}


.pButton{

}

.play{
  background: url('../img/play.png') ;
  height:60px; 
  width: 60px;
  border: none;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;
  margin-left: -15px;
  z-index: 10;
}
.pause{
  background: url('../img/pause.png') ;
  height:60px; 
  width: 60px;
  border: none;
  background-size: 60% 60%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;
  margin-left: -15px;
  z-index: 10;

}

.timeline{
  width: 285px;
  height: 13px;
  margin-top: 23px;
  float: left;
  background: rgba(0,0,0,.2);
  z-index: 10;
  
}
.playhead{
  width: 0px;
  height: 13px;
  background: #1696d2;

}



.audio-div {
  border-bottom: solid 1px #d0d2d3;
  padding-bottom: 2.5em;
  margin-bottom: 1em;
}
.audio-subtitle {
  margin-top: .5em;
  font-style: italic;
  font-size: 13px;
  color: #59595c;
}

.audio-container-subtitle {
  margin-top: .5em;
  font-style: italic;
  font-size: 14px;
  color: #59595c;
  line-height: 1.2em;
}

.audio-header {
  font-size: 9px;
  font-weight: 700;
  color: #919395;

}

.audio-header-alone {
  font-size: 9px;
  font-weight: 700;
  color: #919395;
  padding-top: 4em;

}

.audio-author {
  font-size: 18px;
  font-weight: 600;
}

.audio-author-title {
  font-size: 14px;
  margin-bottom: 1.1em;
  margin-top: .3em;
}

.audio-container {
  background-color: #f2f2f2;
  margin: 1.5em 0;
  z-index: 2;
}

.audio-container-header {
  font-size: 9px;
  font-weight: 700;
  color: #919395;

}

.audio-info {
  padding-bottom: 5.5%;
  padding-left: 8%;
  background-color: #f2f2f2;
  display: table-cell;

}

.audio-cell {
  background-color: #f2f2f2;
  display: table-cell;
  vertical-align: middle;
  padding: 5% 0% 5% 5%;

}

.audio-cell-full-width {
  background-color: #f2f2f2;
  vertical-align: middle;
  padding: 0% 0% 0% 0%;

}

.left-cell {
  width: 43%;
}

.timeCurrent {
  color: #59595c;
  font-size: 13px;
  float: left;

}

.timeEnd {
  color: #59595c;
  font-size: 13px;
  float: right;
}

.clip-time-row {
  width: 100%;
  margin-top: 3px;
}

.graph-container {
  height: 400px;
}

.case-study-graph-container {
  height: 451px;
}

#headline2-image {
  height: 250px;
}



.policies-graph-container {
  height: 530px;
}



/*Style for audio player*/
audio {
  
}



/*Style for menu links*/
ul#menu li a {
    display: block;
	font-weight: 300;
    min-width: 140px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #094c6b;
    height: 45px;
    padding-top: 8px;
	border-bottom: solid 1px #073e56;
}

/*Hover state for top level links*/
ul#menu li:hover a {
  background-color: #0096d2;
  color: #fff;
}

/*Style for dropdown links*/
ul#menu li:hover ul a {
	background: #333;
color:#fff;
border-right-color: #222;
    border-right:1px solid;
    border-color: #222;
    border-top:5px solid;
    border-top-color:#222;
}


/***********structure***********/
.wrapper{
    max-width: 1300px;
    margin:0 auto;
    padding-top: 50px;
}



.full-wrapper{
    width:100%;
    margin:0 auto;
    padding-top: 20px;
    border-top:1px solid #eee;
}

.content{
    width:1300px;
    margin: 0 auto;
    padding: 0px 30px;

}

.content ul{
   list-style: outside none none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.content ul li{
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    padding-left: 1%;

}

.full-div {
	background-color: #fff;
  width: 100%;
  margin-bottom: 200px;
}

blockquote.blockquoteClass {
  line-height: 1.6;
  position: relative;
  color: #000;
  font-size: 20px;

}

blockquote br {
  margin-bottom: 2em;
}

blockquote:before, blockquote:after {
    position: relative;
    font-size: 36px;
    color: #25a9e0;
    line-height: .1em;

}
blockquote:before {
    top: 8px;
    content: "\201C";
}
blockquote:after {
    top: 8px;
    content: "\201D";
}
.center-quote-div {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  line-height: 1.5em;

}

.center-quote-author-title {
  font-size: 14px;
  line-height: 1;
}
.center-case-study-div {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  line-height: 1em;

}

.photo-div {
  margin: 52px 0;

}

.case-study-header {
  font-size: 26px;
}

.case-study-state {
  color: #25a9e0;
  font-weight: 600;
}

.quotation-blue {
  font-size: 36px;
  color: #25a9e0;
  font-weight: 500;
}

.center-quote-author {
  font-size: 16px;
  font-weight: 600;
  margin-top: 9px;
}

.center-div-initial {
  max-width: 740px; 
  width: 57%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 273px;

}



.center-div-header {
  font-size: 20px;
  /**color: #094c6b; **/
  color: #0a4c6a;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.center-div-large-text {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.4em;
}

.center-div-small-text {
  font-size: 25px;
  font-weight: 300;
  color: #666666;
  margin-top: 2em;
  line-height: 1.4em;
  
}

.center-div-author-description {
  font-size: 18px;
  color: #666666;
  margin-left: .5em;
}

.center-div-quote-author {
  font-size: 25px;
  color: #000;
  margin-top: 1.8em;
  line-height: 1.4em;
  
}

.ce

.text{
    width:500px;
    margin:35px 75px;
}


.left{
    float:left;
}

.right{
    float:right;
}

/*photo styles*/

.image-dual {
  float: left;
  width: 50%;
  margin-bottom: 1em;
}

.photo-caption {
  font-size: 14px;
  margin-top: 1em;
  margin-bottom: 3em;
  color: #4d4d4d;
}

/************** general text styles***************/

ul{
    text-align: left;
     list-style-position:outside;
    margin:10px 0px 25px 45px;
 
}

li{
    margin-bottom:15px;
    list-style:disc;
    padding-left:10px;
}




/*image that goes 65% width of wrapper. */
.overhalf{
    width:60%;
    margin-top:3px;
    margin-bottom: 10px;
    margin-right:75px;
}
.full{
       width:100%;
    margin-top:25px;
    margin-bottom: 10px; 
}

.caption{
  margin-bottom: 30px;
    font-size:14px;
    font-style:italic;
    color:#666;
}

    
.half{
    width:49.5%;
    margin-top:3px;
    margin-bottom: 10px;
}

iframe{
    margin-bottom:75px;
}

/*footer*/

footer {
    background-color: #f1f2f2;
    margin-top: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
    bottom: 0;
   overflow: hidden;
     height:auto;
 
}

footer .content{
  
    max-width: 1100px;
}

.copyright-footer {
  margin-left: 1%;
  font-size: 14px;
  padding-bottom: 2em;
}
    
   
    
}

#left {
  float: left;
  width: 45%;
  padding-left: 0px;
  padding-right:0px;

}

#right {

  float: right;
  width: 45%;
   padding-right: 0px;
  padding-left: 0px;
    font-size:14px;
    line-height: 1.3;
}

p {
  line-height: 1.5em;
  margin-bottom: 1.8em;
  margin-top: 1.8em;

}

footer p {
    font-size: 14px;
}

footer h2 {
    text-transform: uppercase;
     font-weight: 700;
}

footer h3, footer h4{
   font-weight: 700; 
}

.credits {
    font-size: 14px;
    margin-top: 1em;
    margin-bottom: 16px;
}

.job {
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 12px;
}

.urbanstatement {
    font-style: italic;
    color: #666666;
    font-size: 13px;
    margin-bottom: 1em;
}

.chart-mobile-case-study {
  display: none;
}

.chart-desktop-case-study {
  display: block;
}


@media (max-width: 1300px) {
  .sidebar-quote{
    font-size: 18px;
  }
}

@media (max-width: 1100px) {
   .subnav a{
    font-size:16px;
    }
}

@media (max-width: 950px) {
   .subnav a{
    font-size:14px;
    }
}


/*browser windows smaller than 850px*/
@media (max-width: 900px) {

  .chart-mobile-case-study {
    display: block;
  }

  .chart-desktop-case-study {
  display: none;
  }

  .graph-div {
    width: 100%;
  }

  .copyright-footer {
    text-align: center;
  }
  .wrapper {width:100%; padding-top:20px;}
  .container {width:auto; padding:0px 70px; margin-bottom: 40px;}
  ul {margin-left: 15px;}
  li {padding-left:0px;}
    .overhalf{margin-right:0px; margin-left:30px; width:70%;}
    
  .subnav {
  display: none;
  }
  .show-menu{
    display: block;
    width: 100%;
    position: fixed;
    text-decoration: none;
    color: #fff;
    background: #052635;
    text-align: left;
    padding: 10px 10px;   
    } 
  #current-page-navbar {
    display: block;
    float: right;
    text-decoration: none;
    color: #929497;
    background: #052635;
    font-size: 7px;
    font-weight: 800;
    text-align: right;
    margin-right: 15px;


  }
  .chart-title {
  font-size: 18px;
  }

  .pie-header {
    font-size: 16px;
  }

  .chart-info {
    font-size: 11px;
  }

  #mobilenavcontainer {
  width: 100%;
  position: fixed;
  top: 0px;
  height: 45px;
  display: block;  
      z-index: 11;
  }
      
      
  /*Hide checkbox*/
  input[type=checkbox]:unchecked ~ #menu{
  display: none;
  visibility:hidden;

      
  }

  /*Show menu when invisible checkbox is checked*/
  input[type=checkbox]:checked ~ #menu{
      display: block;
      position: absolute;
      top: 45px;
      height: 150px;
      z-index: 10;
      width: 20%;
      left: 0px;
     
  }

    
.checkbox {
  display: none;
}

.current-page-name {
  color: #1795d2;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  text-transform: capitalize;
  text-align: right;

}

ul#menu {
    float:none;
    display: none; 
    text-align: center;
    list-style:none;
    margin:0px;
}

#menu li{
    margin-bottom:0px;
    list-style:none;
    padding-left:0px; 
}

.headerimage{
        top:44px;
    }
.sidebar-quote-mobile {
  display: block;
  width: 52%;
  margin-left: auto;
  margin-right: auto;
}

div.sidebar-author-title a {
    pointer-events: all;
    cursor: pointer;

}

.sidebar-div-mobile {
  border-left: 70px solid #094c6b;
  border-right: 70px solid #094c6b;
  margin: 50px -70px;
}
.right-col{
  display: none;
}
    
    #left{ width:100%;}
    #right{ width:100%; margin-top:30px;}
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

@media (max-width: 768px) {

  .next-page-div {
    width: 100%;
    margin-right: 0px;
    height: 180px;
  }

  .next-page-column-1 {
    width: 78%;
    margin-left: 2%;
  }

  .next-page-column-2 {
    width: 20%;
    padding-left: 0%;
  }

  .next-arrow {
    margin: 33% 25%;
    padding-left: 10%;
    max-width: 54px;
  }

  .next-page-text {
    margin-top: 3%;
    padding-left: 2%;
  }

  .next-page-next-up {
    font-size: 14px;
  }

  .next-page-title {
    font-size: 28px;
  }
  .container {
    padding: 0 34px; 
  }

  .sidebar-div-mobile {
    margin: 50px -34px;
    border-left: 34px solid #094c6b;
    border-right: 34px solid #094c6b;
  }

  .center-div-initial {

  }
}

@media (max-width: 550px) {
  .sidebar-quote-mobile {
    width: 78%;
  }
  input[type=checkbox]:checked ~ #menu{
    width: 100%;
   
}



}

@media (max-width: 320px) {

    
  .container {
    padding: 0 20px; 
  }
  .sidebar-quote-mobile {
    width: 78%;
  }
  .sidebar-div-mobile {
    margin: 30px -20px;
    border-left: 20px solid #094c6b;
    border-right: 20px solid #094c6b;
  }

  .center-div-initial {
    width: 90%;
    left: 5%;
    right: 5%;
  }
}
/*browser windows smaller than 850px*/
@media (max-width: 600px) {
   .wrapper {padding-top:10px;} 
   .headerimage{ height:250px;}
    h1{font-size: 45px;padding-top: 100px;}
    .overhalf{width:100%;}